@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*{ 
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}
:root{
  --txt-color: #505050;
}
html,body {
  background-color: #000;
  scroll-behavior: smooth;
}
 .container {
    width: 100%;
    height: 700px;
    padding: 0;
    margin: 0;
  }
  
  .container,
  .overlay1:before {
    background: url('img/CEE.jpg') no-repeat fixed center bottom / cover;
    filter: brightness(80%);
  }
  
  
  .container {
    align-items: center;
    display: flex;
    justify-content: center;
  }
  
  .overlay1 {
    max-height: 600px;
    margin: 0 auto;
    max-width: 768px;
    overflow: hidden;
    padding: 100px;
    position: relative;
    color: rgb(0, 0, 0);
    font-size: 30px;    
    position: relative;
    text-align: center;
    border: 5px solid #00000058;
    border-radius: 25px;
    z-index: 0;
    vertical-align: middle;
    display: table-cell;
  }
  .overlay1::before {
    content: '';
    filter: blur(3px);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
  }

  .overlay1 h4{
    color: rgb(44, 44, 44);
    font-style: bold;
  }
  .btn-2{
    display: inline-block;
    position: relative;
    background: none;
    border: none;
    font-size: 30px;
    cursor: pointer;
  }
  span{
    display: block;
    padding: 20px 80px;

  }
  .btn-2::before,.btn-2::after{
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    transition: all 0.5s linear;
    background: #000;
  }
  span::before, span::after{
    content: "";
    position: absolute;
    width: 2px;
    height: 0;
    transition: all 0.2s linear;
    background: #000;
  }

  .btn-2:hover::before, .btn-2:hover::after{
    width: 100%;    
  }
  .btn-2:hover span::before,.btn-2:hover span::after{
    height: 100%;
  }
  .btn-2:hover {
    background: rgba(0, 0, 0, 0.15);
    color: var(--txt-color);
    transition: 0.5s linear;
  }
  .btn-2{
    margin-top: 50px;
    transition: 0.5s linear;
  }
  .btn-2::after,.btn-2::before{
          transition-delay: 0.2s ;
  }
  .btn-2 span::before, .btn-2 span::after{
    transition-delay: 0s;
  }
  .btn-2::before{
    right: 0;
    top: 0;
  }
  .btn-2::after{
    left: 0;
    bottom: 0;
  }
  .btn-2 span::before{
    left: 0;
    top: 0;
  }
  .btn-2 span::after{
    right: 0;
    bottom: 0;
  }
  .btn-2:hover::before, .btn-2:hover::after{
    transition-delay: 0s;
  }
  .btn-2:hover span::before, .brn-2:hover span::after{
    transition-delay: 0.2s;
  }
  .overlay1 h1{
      padding: 20px;      
      transition: 1.5s ease-in-out;
  }
  .overlay1 h1:hover{
    color: #ffffffb2;
    font-size: 70px;
    cursor: pointer;
    transition: 1.5s ease-in-out;    
  }

  /* show case */
.con{
  padding: 10px;
  position: relative;
}
.con img{
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  display: inline-block;
}
.con p{
  color: white;
}
.grid-wrapper > div{
  display: flex;
  justify-content: center;
  align-items: center;
}
.grid-wrapper > div > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}
.grid-wrapper{
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  /*  grid-template-columns: repeat(auto-fit, minmax(380px,1fr));
  grid-auto-rows: 350px;*/
  grid-auto-flow: dense;
}
.grid-wrapper .tall{
  grid-row: span 2;
}
.grid-wrapper .big{
  grid-column: span 2;
  grid-row: span 2;
}
.grid-wrapper .mid-big{
  grid-column: span 2;
  grid-row: span 2;
}
@media screen and (max-width: 1000px){
  .grid-wrapper{  grid-template-columns: 1fr 1fr 1fr;}
}
@media screen and (max-width: 420px){
  .grid-wrapper{  grid-template-columns: 1fr 1fr ;}
}

/* light box */
.lightbox{
  display: none;
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 1em;
  background: rgba(0, 0, 0 , 0.7); 
}
.lightbox:target{
  outline: none ;
  display: block;
}
.lightbox img{
  display: block;
  max-width: 45%;
  margin-left: auto;
  margin-right: auto;
  height: auto;  
  background-repeat: no-repeat;
  background-size: contain;  
}
.lightbox-tall img{
  max-width: 32%;
  height: auto;
}
.lightbox-4 img{
  max-width: 35%;
  height: auto;
}
.text{
  position: absolute;
  bottom: 0;
  background:linear-gradient(to bottom, rgba(0, 0, 0, 0.045), rgba(0, 0, 0, 0.9));
  width: 100%;
  height: 100%;
  opacity: 0;
  left: 0;
  transition: .5s ease-in-out;
}

.text p{
  margin: 27px;
  font-size: 13px;
  color: rgba(214, 214, 214, 0.885);
  position: absolute;
  bottom: 0;
}

/* .click-to-view{
  font-size: 18px;
  border: 2px solid var(--txt-color);
  border-radius: 10px;
  padding: 10px;
  margin: 15px;
} */
.con:hover .text{
  opacity: 1;
}

/* go to top button*/
.top-button {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 1;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: var(--txt-color);
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

.top-button:hover,.close-button:hover{
  background-color: rgba(255, 255, 255, 0.797);
  color: #00000078;
  transition: 0.5s linear;
  cursor: pointer;
}

/* Next Prev buttons*/
.close-button{
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
  font-size: 2rem;
  line-height: 1;
  color: white;
  background-color: rgba(0, 0, 0 , 0.5);
  border: none;
  cursor: pointer;
}

/* .next::before{
  position: fixed;
  z-index: 100;
  right: 4px;
  top: 40%;
  width: 40px;
  font-size: 30px;
} */
.about-para{
  height: auto;
  color: rgba(214, 214, 214, 0.885);
  padding: 20px;
  text-align: center;
}
.h2{
  font-size: 10px;
  margin: 10px;
  padding: 15px;
}