@import url('https://fonts.googleapis.com/css?family=Sofia');
@import url('https://fonts.googleapis.com/css2?family=Koulen&family=Poppins&family=Raleway:ital,wght@0,500;1,400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* shwocase*/
.column {
    float: left;
    width: 50%;
    padding-left: 30px;
    height: 500px; /* Should be removed. Only for demonstration */
    margin: 0;
  }
.row:after {
    content: "";
    display: table;
    clear: both;
  }
@media (max-width: 850px) {
    .column {
      width: 100%;
    }
  }
.myimg{
   width: 100%;
   height: 100%;
   object-fit: cover;
}
/* text-animation */
.wrapper{
    display: flex;

}

 .wrapper p{
    color: rgb(19, 19, 18);
    font-size: 60px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
}
.text-hello{
    color: rgb(218, 120, 120);
    font-size: 100px;
    font-weight: 550;
    font-style: italic;
    font-family: "Sofia", sans-serif;
    position: top;
    text-shadow: 2px 4px 2px #f31b1b;
}
.wrapper .run-text{
    position: relative;
    height: 90px;
    line-height: 90px;
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
 }
.run-text li{
    list-style: none;
    text-align: left;
    color: rgb(218, 120, 120);
    font-size: 60px;
    font-weight: 400;
    position: relative;
    top: 0;
    animation: slide 6s steps(3) infinite;
}

@keyframes slide{
    100%{
        top: -265px;
    }
}

.run-text li span{
    position: relative;
    margin: 5px 15px;
    line-height: 80px;
}
.run-text li span::after{
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgb(255, 255, 255);
    border-left: 2px solid rgb(218, 120, 120);
    animation: typing 2s steps(11) infinite;
}

@keyframes typing{
    40%, 60%{
        left: calc(100% + 15px);
    }
    100%{
    left: 0;
    }
}

.p_text{
  text-align: center;
  font-size: 25px;
  padding: 70px;
  font-family: 'Poppins', sans-serif;
  font-style: italic;
  color:rgb(218, 120, 120);
}
/* navbar */
.navbar{
    background-color: #4e0b0b;    
}
.navbar h1{
    font-style: italic;
    font-family: "Sofia", sans-serif;
    color: rgb(218, 120, 120);
    padding: 10px;
    text-align: center;
}
/* honeycomb */
.hexagon-body{
  color: hsl(0, 0%, 10%);
  background: linear-gradient(18deg, rgb(219, 140, 140), #4e0b0b);
  filter: brightness(90%);
  border-top: 5px solid  rgb(219, 140, 140);
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  padding: 100px;  
}
.hexagon {
  position: relative;
  width: 46%;
  height: 80%;
  margin: 1px 18px;
  color: white;
  background: linear-gradient(-180deg, white, #fda3b2);
  display: inline-block;
  transition: 0.5s;
}
.hexagon, .hexagon::before, .hexagon::after {
  /* easy way: height is width * 1.732
  actual formula is 2*(width/(2*Math.tan(Math.PI/6)))
  remove border-radius for sharp corners on hexagons */
  width: 67px;
  height: 116px;
}
.hexagon:before,
.hexagon:after {
  position: absolute;
  content: "";
  background: inherit;
  height: 100%;
  width: 100%;
  border-radius: 0;
  transition: 0.5s;
  transform-origin: center;
}
.hexagon::before {
  position: absolute;
  left: 0;
  transform: rotateZ(-60deg);
}
.hexagon::after {
  position: absolute;
  left: 0;
  transform: rotateZ(60deg);
}
.hexagon:nth-child(even) {
  /* top approx. 50% of .hexagon height + spacing */
  top: 59px;
}
.hexanone {
  position: relative;
  display: inline-block;
  width: 67px;
  height: 116px;
  margin: 1px 18px;
}
.hexanone:nth-child(even) {
  top: 59px;
}
.hexagontent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 140%;
  font-size: 1.4rem;
  line-height: 1.2;
  z-index: 100;
}
.ibws-fix {
  /* inline-block whitespace fix */
  font-size: 0;
}
.hexagon:not(.nohover):hover {
  border-radius: 50px;
  transition: 0.5s;
  cursor: pointer;
}
.hexagon:not(.nohover):hover:before {
  border-radius: 50px;
  transition: 0.5s;
}
.hexagon:not(.nohover):hover:after {
  border-radius: 50px;
  transition: 0.5s;
} 
.hexagontent i {
  z-index: 1;
  margin: auto;
  font-size: 50px;
  color: transparent;
  background: linear-gradient(18deg, rgb(218, 120, 120), #4e0b0b);
  background-clip: text;
  -webkit-background-clip: text;
} 
.hexagontent i:active{
  font-size: 60px;
  transition: 0.5s;
}
.hexagontent h4 {
  color: rgb(218, 120, 120);
  font-family: "Sofia", sans-serif;
}
.hexagon img{
  width: 136px;
  height: 117px;
  clip-path:polygon(0% 50%,25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%);
  float: left;
  transform: translate(-15.5%,0%);
  opacity: 85%;
  object-fit: cover ;
}
.hexagon:not(.nohover):active {
background: linear-gradient(-180deg, rgba(255, 255, 255, 0.945), #fd8599e7);
}
.hexagon:not(.nohover):active:before  {
  background: linear-gradient(-180deg, rgba(255, 255, 255, 0.945),#fd8599e7) ;
}
.hexagon:not(.nohover):active:after  {
  background: linear-gradient(-180deg, rgba(255, 255, 255, 0.945), #fd8599e7) ;
}

/* modal */
/* =============================================== */
/* The Modal (background) */
.modal{
  display: none;
  position: fixed;
  z-index: 1040;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
  
}
.modal-content{
  margin: 5% auto;
  padding: 0px;
  width: 70%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2),0 7px 20px 0 rgba(0, 0, 0, 0.17);
  animation-name: modalopen;
  animation-duration: 1s;
}
@keyframes modalopen{
  from{ opacity: 0;}
  to{opacity: 1;}
}

.closeBtn{
  color: #ccc;
  float: right;
  font-size: 40px;
  margin-right: 20px;
  transition: transform .25s,opacity .24s;
}
.closeBtn:hover,.closeBtn:focus{
 color: black;
 text-decoration: none;
 cursor: pointer;
}
.closeBtn:hover{
  transform: rotate(90deg);
}
.modal-header{
  background-color: #821326;
  padding: 10px;
  color: white;
  text-align: center;
  padding: 10px 0;
  font-size: 1.5rem;
  text-transform: uppercase;
}
/*modal animatiion*/
.modal-body{
  margin: 0;
  animation-duration: 1.5s;
  animation-name: slideIn;
}
@keyframes slideIn {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
  from{
    margin-top: -2%;
  }
  to{
    margin-top:0%;
  };
}
/* moodle body */
.modal-content{
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  background-color: white;
}
.skill-txt{
  text-align: center;
  padding: 7px;
}
/*Skill modal*/
.skill-row::after{
  content: "";
  display: table;
  clear: both;
}
.skill-col{
  float: left;
  width: 50%;
  padding: 0px;
  height: 265px;
}
.skill-1-col1,.skill-2-col2,.skill-3-col1,.skill-4-col2{
  background: linear-gradient(360deg,  rgb(219, 140, 140),#821326,#6b0718);
  color: #6b0718;
  padding: 0px;
  margin: 0;
  text-align: center;
  font-size: 25px;
}
.skill-1-col2,.skill-2-col1,.skill-3-col2,.skill-4-col1{
  background: rgb(255, 253, 253);
  color:#6b0718;
}
.skill-col i {
  z-index: 1;
  margin: auto;
  font-size: 200px;
  color: transparent;
  background: linear-gradient(180deg, #821326,rgb(219, 140, 140));
  background-clip: text;
  -webkit-background-clip: text;
} 
.language{   
    font-size: 25px;
    margin: 8px 50px;
    
}
@media (max-width: 700px) {
  .skill-col{
    width: 100%;
  }
}

/* fact modal */
.fun-container{
  margin: 30px;
}
.fact-box{
  height: auto;
  border: 2px solid  rgb(241, 132, 132);
  margin-bottom: 20px;
  box-shadow: 10px 10px 20px #4e0b0b9d;
  border-radius: 20px 20px 20px 20px;
}

.facts-modal{
  background: linear-gradient(360deg, #fdb9c4,  rgb(219, 140, 140));
  background-image: url("img/sky1.jpg");
  filter: brightness(80%);
  background-size: cover;
  height: auto;
  padding-bottom: 10px;
  color:#6b0718;
}
.fact-box-row i{
  z-index: 1;
  margin: auto;
  font-size: 30px;
  color: transparent;
  background:rgb(197, 104, 104);
  background-clip: text;
  -webkit-background-clip: text;
}
.fa-tiktok:hover{
  color: rgb(194, 86, 86);
  font-size: 40px;
  font-size: 35px;
}
.fa-tiktok{
  padding-top: 10px;
}

.fact-box-col1{
  float: left;
  text-align: center;
  padding: 10px 15px;
  width: 12%;
}
.fact-box-col2{
  padding: 10px 15px;
  width: 88%;
}
.fact-box-row::after,.contact-row::after{
  content: "";
  clear: both;
  display: block;
}
@media (max-width: 700px) {
  [class*="fact-box-"]{
    width: 100%;
  }
}
/* Contact modal */
.contact-modal{
  background: linear-gradient(360deg, #fdb9c4,  rgb(219, 140, 140));
  height: auto;
  padding: 10px;
  background-image: url("img/sky1.jpg");
  filter: brightness(80%);
  background-size: cover;
}
.col-50{
  float: left;
  text-align: center;
  padding: 10px 15px;
  width: 50%;
}
input,textarea{
  border: 2px solid  rgb(241, 132, 132);
  box-shadow: 10px 10px 20px #4e0b0b9d;
  border-radius: 10px 10px 10px 10px;
  padding: 10px;
  margin: 0;
}
form{
  text-align: center;
  font-family: 'Poppins', sans-serif;
}
input[type="text"],textarea{
  width:100%;
  background: rgba(255, 255, 255, 0.335);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

textarea:focus,input:focus{
  border:2px solid #6b0718;
}
label{
  color:#6b0718 ;
  font-size: 25px;
  text-shadow: 5px 5px 5px #2405059d;
}
.send-btn{
  border: none;
  background-color: #6b0718;
  color:  rgb(255, 255, 255);
  border-radius: 10px;
  font-size: 25px;
  font-family: 'Poppins', sans-serif;
  padding: 5px;
  margin: 10px;
  box-shadow: 10px 10px 15px #3b08089d;
  transition: .5s;
  transform: scale(.9);
  cursor: pointer;
}

.fa-envelope{
  z-index: 1;
  margin: auto;
  font-size: 30px;
  color: transparent;
  background:#6b0718;
  background-clip: text;
  -webkit-background-clip: text;
}
.contact-container{
  text-align: center;
  margin-top: 10px;
  text-shadow: 5px 5px 5px #2405059d;
}
.contact-container p{
  color: #6b0718;
  font-size: 25px;
  word-wrap: break-word; 
  display: inline;
}

@media screen and (max-width:1200px){
  .col-50{
    width: 100%;
  }
  input,textarea{
    width: auto;
  }
  label,.contact-container p,send-btn{
    font-size: 18px;
  }  
}
.modal-contact-footer,.modal-abt-footer{
  background-color: #6b0718;
  text-align: center;
  padding: 4px;
  height: 70px;
}
.modal-contact-footer ul {
 justify-content: center;
 display: flex;
}

.modal-contact-footer ul li {
  list-style: none;
  margin: 0 15px;
}

.modal-contact-footer ul li a {
  position: relative; 
  display: block;
  width: 60px;
  height: 60px;
  text-align: center;
  line-height: 63px;
  background: #6b0718;
  border-radius: 50%;
  font-size: 30px;
  color: rgb(255, 255, 255);
  transition: .5s;
}

.modal-contact-footer ul li a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #fd8599e7;
  transition: .5s;
  transform: scale(.9);
  z-index: -1;
}

.modal-contact-footer ul li a:hover::before,.send-btn:hover::before {
  transform: scale(1.1);
  box-shadow: 0 0 15px #fd8599e7;
}

.modal-contact-footer ul li a:hover,.send-btn:hover {
  color: #fd8599e7;
  box-shadow: 0 0 5px #fd8599e7;
  text-shadow: 0 0 5px #fd8599e7;
}

/* about modal */
.abt-modal{
  background: linear-gradient(360deg, #fdb9c4,  rgb(219, 140, 140));
  height: auto;
  padding: 30px;
  font-size: 25px;
  font-family: 'Poppins', sans-serif;
  color: #6b0718;
  display: block;
}
.profile-pic{
  float: left;
  margin: 15px 25px;
}

.profile-pic img{
  width: 300px;
  height: 460px;
  object-fit: cover;
  margin: 10px;
  border-radius: 20px;
  border: 4px solid #6b0718;
}
.abt-modal p{
  padding-bottom: 20px;
  font-size: 18px;
  text-align: left;
  display: block;
}
@media screen and (max-width:1200px){
  .profile-pic img{
    width: 200px;
    height: 306px;
  }
}